swagger: '2.0'
info:
  version: '1.0'
  title: INAHRS Api
  contact: {}
host: inahrs.or.id
basePath: /asm2023/api/mobile/v2
securityDefinitions: {}
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /login-participant:
    post:
      summary: Login Participant
      tags:
      - Auth
      operationId: LoginParticipant
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      - name: email
        in: formData
        required: true
        type: string
        description: ''
      - name: password
        in: formData
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LoginBerhasil'
          examples:
            application/json:
              success: true
              error: null
              message: Login Berhasil.
              data:
                nama_lengkap: Daffa Pratama
                email: daffa@totalit.co.id
                api_token: Al2A020PJWzB2cpfozoLzz6C9GYKeQrfduwFaVmn05PfIYQS3yDjC3LID1w8myXAQKPZzzrjsHPrZQEY
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '193'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 07:44:50 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /logout-participant:
    get:
      summary: Logout Participant
      tags:
      - Auth
      operationId: LogoutParticipant
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LogoutBerhasil'
          examples:
            application/json:
              success: true
              error: null
              message: Logout Berhasil.
              data: null
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '66'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 07:48:14 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Unauthenticated1'
          examples:
            application/json:
              message: Unauthenticated.
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            content-length:
              type: string
              default: '35'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 07:49:11 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /forgot-password:
    post:
      summary: Forgot Password
      tags:
      - Auth
      operationId: ForgotPassword
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      - name: email
        in: formData
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResetPasswordBerhasil'
          examples:
            application/json:
              success: true
              error: null
              message: Reset Password Berhasil.
              data: null
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '72'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 07:51:04 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /check-token:
    get:
      summary: Check Token
      tags:
      - Auth
      operationId: CheckToken
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tokenalive'
          examples:
            application/json:
              success: true
              error: null
              message: Token alive
              data:
                nama_lengkap: Daffa Pratama
                email: daffa@totalit.co.id
                api_token: 6d3a17cbe5fa39695385b05045f667723381b92df9f289607b079172bc6931f6
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '163'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 07:56:01 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Unauthenticated1'
          examples:
            application/json:
              message: Unauthenticated.
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            content-length:
              type: string
              default: '35'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 07:53:11 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /helper-registration:
    get:
      summary: Helper Registration
      tags:
      - Registration
      operationId: HelperRegistration
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil.
              data:
                category:
                - id: 8
                  category_name: Overseas
                  is_publish: true
                  created_at: 2023-03-30 11:50:03
                  updated_at: 2023-03-31 11:07:24
                  deleted_at: null
                - id: 7
                  category_name: Cardiologist
                  is_publish: true
                  created_at: 2023-03-17 15:04:12
                  updated_at: 2023-03-17 15:04:12
                  deleted_at: null
                - id: 1
                  category_name: Other Specialist
                  is_publish: true
                  created_at: 2022-06-15 11:48:37
                  updated_at: 2023-03-17 15:03:57
                  deleted_at: null
                - id: 2
                  category_name: General Practitioner
                  is_publish: true
                  created_at: 2022-06-15 11:48:56
                  updated_at: 2023-03-13 11:34:05
                  deleted_at: null
                - id: 5
                  category_name: Resident
                  is_publish: true
                  created_at: 2023-03-13 11:34:17
                  updated_at: 2023-03-13 11:34:17
                  deleted_at: null
                - id: 6
                  category_name: Medical Student
                  is_publish: true
                  created_at: 2023-03-13 11:34:44
                  updated_at: 2023-03-13 11:34:44
                  deleted_at: null
                - id: 3
                  category_name: Allied Professional
                  is_publish: true
                  created_at: 2022-06-15 11:49:08
                  updated_at: 2023-03-13 11:34:32
                  deleted_at: null
                hotel_room:
                - id: 1
                  hotel_id: '1'
                  room_name: Westin Room
                  description: Westin Room
                  room_rate: 2500000
                  room_rate_usd: 170
                  qty: 5
                  startdate_stock: 2023-08-17 00:00:00
                  enddate_stock: 2023-08-20 00:00:00
                  image: null
                  created_at: 2023-03-17 10:53:55
                  updated_at: 2023-04-03 11:47:59
                  deleted_at: null
                  title: The Westin Hotel Jakarta
                - id: 2
                  hotel_id: '1'
                  room_name: Premium Room
                  description: Premium Room
                  room_rate: 3500000
                  room_rate_usd: 240
                  qty: 11
                  startdate_stock: 2023-08-17 00:00:00
                  enddate_stock: 2023-08-20 00:00:00
                  image: null
                  created_at: 2023-04-03 11:51:55
                  updated_at: 2023-04-03 11:51:55
                  deleted_at: null
                  title: The Westin Hotel Jakarta
                - id: 3
                  hotel_id: '1'
                  room_name: Renewal Room
                  description: Renewal Room
                  room_rate: 4000000
                  room_rate_usd: 272
                  qty: 11
                  startdate_stock: 2023-08-17 00:00:00
                  enddate_stock: 2023-08-20 00:00:00
                  image: null
                  created_at: 2023-04-03 11:53:29
                  updated_at: 2023-04-03 11:53:29
                  deleted_at: null
                  title: The Westin Hotel Jakarta
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '549'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 07:59:33 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /helper-get-package/1:
    get:
      summary: Helper Get Package
      tags:
      - Registration
      operationId: HelperGetPackage
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil1'
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '58'
            content-length:
              type: string
              default: '577'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 07:59:49 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /helper-check-email:
    post:
      summary: Helper Check Email
      tags:
      - Registration
      operationId: HelperCheckEmail
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      - name: email
        in: formData
        required: true
        type: string
        description: required|email
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Emailavailable'
          examples:
            application/json:
              success: true
              error: null
              message: Email available.
              data: null
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '57'
            content-length:
              type: string
              default: '65'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:00:12 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /helper-get-hotelroom/2:
    get:
      summary: Helper Get Hotel Room
      tags:
      - Registration
      operationId: HelperGetHotelRoom
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil2'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil.
              data:
                id: 2
                hotel_id: '1'
                room_name: Premium Room
                description: Premium Room
                room_rate: 3500000
                room_rate_usd: 240
                qty: 11
                startdate_stock: 2023-08-17
                enddate_stock: 2023-08-20
                stocks:
                - id: 5
                  room_id: '2'
                  stock_date: 2023-08-17
                  stock_qty: '11'
                - id: 6
                  room_id: '2'
                  stock_date: 2023-08-18
                  stock_qty: '10'
                - id: 7
                  room_id: '2'
                  stock_date: 2023-08-19
                  stock_qty: '9'
                - id: 8
                  room_id: '2'
                  stock_date: 2023-08-20
                  stock_qty: '10'
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '58'
            content-length:
              type: string
              default: '230'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:04:55 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /helper-check-promo:
    post:
      summary: Helper Check Promo Code
      tags:
      - Registration
      operationId: HelperCheckPromoCode
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      - name: promo_code
        in: formData
        required: true
        type: string
        description: required
      - name: package_id
        in: formData
        required: true
        type: integer
        format: int32
        description: required
      - name: category_id
        in: formData
        required: true
        type: integer
        format: int32
        description: required
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Promocodeiscorrect'
          examples:
            application/json:
              success: true
              error: null
              message: Promo code is correct, you get a 50% discount
              data:
                id: 1
                package_id: 9
                category_id: 1
                promo_code: DISCOUNT50TOTALIT
                promo_type: Percent
                promo: '50'
                qty: 10
                start_date: 2023-05-01 00:00:00
                end_date: 2023-05-30 00:00:00
                created_at: 2023-05-16 16:57:29
                updated_at: 2023-05-16 16:57:29
                deleted_at: null
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '234'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:05:41 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /helper-check-service-charge:
    post:
      summary: Helper Check Service Charge
      tags:
      - Registration
      operationId: HelperCheckServiceCharge
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      - name: price
        in: formData
        required: true
        type: integer
        format: int32
        description: required|numeric
      - name: currency
        in: formData
        required: true
        type: string
        description: required|in:['IDR', 'USD']
      - name: payment_method
        in: formData
        required: true
        type: string
        description: required|in:['Virtual Transfer', 'Credit Card', 'QRIS', 'E-Wallet']
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ServiceChargeGenerated'
          examples:
            application/json:
              success: true
              error: null
              message: Service Charge Generated.
              data:
                price: '2000000'
                currency: USD
                payment_method: Credit Card
                service_charge: 60400
                service_charge_usd: 4
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '135'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:35:49 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /registration:
    post:
      summary: Registration
      tags:
      - Registration
      operationId: Registration
      deprecated: false
      produces:
      - application/json
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      - name: title
        in: formData
        required: true
        type: string
        description: ''
      - name: full_name
        in: formData
        required: true
        type: string
        description: ''
      - name: certificate_name
        in: formData
        required: true
        type: string
        description: ''
      - name: email
        in: formData
        required: true
        type: string
        description: ''
      - name: phone_number
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      - name: institution
        in: formData
        required: true
        type: string
        description: ''
      - name: category_id
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      - name: category_name
        in: formData
        required: true
        type: string
        description: ''
      - name: package_id
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      - name: package_name
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      - name: symposium
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      - name: workshop
        in: formData
        required: true
        type: array
        items:
          type: string
        description: ''
      - name: package_price
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      - name: additional_price
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      - name: fgHotel
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      - name: hotelroom_id
        in: formData
        required: true
        type: string
        description: ''
      - name: pernights
        in: formData
        required: true
        type: string
        description: ''
      - name: checkdate
        in: formData
        required: true
        type: string
        description: ''
      - name: checkoutdate
        in: formData
        required: true
        type: string
        description: ''
      - name: numofroom
        in: formData
        required: true
        type: string
        description: ''
      - name: payment_method
        in: formData
        required: true
        type: string
        description: ''
      - name: promo_code
        in: formData
        required: true
        type: string
        description: ''
      - name: hotel_price
        in: formData
        required: true
        type: string
        description: ''
      - name: discount_price
        in: formData
        required: true
        type: string
        description: ''
      - name: service_charge
        in: formData
        required: true
        type: string
        description: ''
      - name: total_price
        in: formData
        required: true
        type: integer
        format: int32
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil3'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil.
              data:
                xendit_link: https://checkout.xendit.co/web/6467351591dd0a902a3f1161
                data:
                  register_number: REG202305190020
                  title: H.
                  full_name: Muhidin
                  certificate_name: H. Muhidin
                  email: muhidin@jaja.com.id
                  phone_number: '3244234'
                  gender: null
                  place_of_birth: null
                  date_of_birth: 1970-01-01
                  country: null
                  province: null
                  city: null
                  institution: zczczcz
                  office_phone_number: null
                  profession_name: null
                  category: General
                  category_id: '1'
                  package: '1'
                  package_id: '1'
                  workshop: '[]'
                  workshop_id: []
                  symposium: '1'
                  package_price: 100000
                  additional_price: 0
                  payment_method: Virtual Transfer
                  promo_code: null
                  discount_type: null
                  discount_price: 0
                  service_charge: 0
                  total_price: 200000
                  updated_at: 2023-05-19 15:36:38
                  created_at: 2023-05-19 15:36:36
                  id: 49
                  xendit_id: 6467351591dd0a902a3f1161
                  invoice_url: https://checkout.xendit.co/web/6467351591dd0a902a3f1161
                  invoice_expired: 2023-05-21 08:36:37
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '58'
            content-length:
              type: string
              default: '530'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:36:40 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /get-data-workshop:
    get:
      summary: Get Data Workshop
      tags:
      - Session
      operationId: GetDataWorkshop
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil4'
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            transfer-encoding:
              type: string
              default: chunked
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:38:20 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /get-data-symposium:
    get:
      summary: Get Data Symposium
      tags:
      - Session
      operationId: GetDataSymposium
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil5'
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '58'
            transfer-encoding:
              type: string
              default: chunked
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:38:54 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /get-data-webinar:
    get:
      summary: Get Data Webinar
      tags:
      - Session
      operationId: GetDataWebinar
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil6'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil.
              data:
              - id: 15
                series_type_id: '5'
                series_title: Case Series Qualification 1
                series_date: 2023-07-14
                series_number: null
                room_name: null
                start_time: null
                end_time: null
                course_director: []
                speaker: null
                detail_schedule: null
                link_vc: null
                id_vc: null
                password_vc: null
                exibitor_id: null
                sponsor_image: null
                video_recorder: null
                is_status: 1
                certificate_image: null
                certificate_speaker: null
                certificate_moderator: null
                certificate_committee: null
                panelist:
                - '4'
                - '5'
                - '37'
                created_at: 2023-05-16 13:40:27
                updated_at: 2023-05-16 13:40:27
                deleted_at: null
                hari: Friday
                min_time: 19:30
                max_time: 21:00
                series_detail:
                - id: 49
                  series_id: '15'
                  series_date: 2023-07-14
                  topic: Panelis
                  start_time: 19:30:00
                  end_time: 21:00:00
                  chairman_id1: null
                  chairman_id2: null
                  cochairman_id: null
                  speaker_id1: null
                  speaker_id2: null
                  speaker_id3: null
                  detail_schedule: null
                  theory_file: null
                  link_vc: null
                  id_vc: null
                  password_vc: null
                  is_status: 1
                  created_at: 2023-05-16 13:42:02
                  updated_at: 2023-05-16 13:42:02
                  deleted_at: null
                  chairman: []
                  speaker: []
                  cochairman: []
              - id: 16
                series_type_id: '5'
                series_title: Case Series Qualification 2
                series_date: 2023-07-21
                series_number: null
                room_name: null
                start_time: null
                end_time: null
                course_director: []
                speaker: null
                detail_schedule: null
                link_vc: null
                id_vc: null
                password_vc: null
                exibitor_id: null
                sponsor_image: null
                video_recorder: null
                is_status: 1
                certificate_image: null
                certificate_speaker: null
                certificate_moderator: null
                certificate_committee: null
                panelist:
                - '10'
                - '26'
                - '34'
                created_at: 2023-05-16 13:45:24
                updated_at: 2023-05-16 13:45:24
                deleted_at: null
                hari: Friday
                min_time: 19:30
                max_time: 21:00
                series_detail:
                - id: 50
                  series_id: '16'
                  series_date: 2023-07-21
                  topic: Panelis
                  start_time: 19:30:00
                  end_time: 21:00:00
                  chairman_id1: null
                  chairman_id2: null
                  cochairman_id: null
                  speaker_id1: null
                  speaker_id2: null
                  speaker_id3: null
                  detail_schedule: null
                  theory_file: null
                  link_vc: null
                  id_vc: null
                  password_vc: null
                  is_status: 1
                  created_at: 2023-05-16 14:34:05
                  updated_at: 2023-05-16 14:34:05
                  deleted_at: null
                  chairman: []
                  speaker: []
                  cochairman: []
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '540'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:39:21 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /get-data-ecg-champ:
    get:
      summary: Get Data ECG Championship
      tags:
      - Session
      operationId: GetDataECGChampionship
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil7'
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '58'
            content-length:
              type: string
              default: '736'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:39:42 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /get-data-bringyourecg:
    get:
      summary: Get Data Bring Your ECG
      tags:
      - Session
      operationId: GetDataBringYourECG
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil8'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil.
              data:
              - id: 14
                series_type_id: '3'
                series_title: Bring Your ECG Qualification 2
                series_date: 2023-07-28
                series_number: null
                room_name: '1'
                start_time: null
                end_time: null
                course_director: []
                speaker: null
                detail_schedule: null
                link_vc: null
                id_vc: null
                password_vc: null
                exibitor_id: null
                sponsor_image: null
                video_recorder: null
                is_status: 1
                certificate_image: null
                certificate_speaker: null
                certificate_moderator: null
                certificate_committee: null
                panelist:
                - '25'
                - '88'
                - '39'
                created_at: 2023-03-15 20:28:01
                updated_at: 2023-05-16 13:50:00
                deleted_at: null
                hari: Friday
                min_time: 10:00
                max_time: 11:30
                series_detail:
                - id: 48
                  series_id: '14'
                  series_date: 2023-08-19
                  topic: Panelist
                  start_time: 10:00:00
                  end_time: 11:30:00
                  chairman_id1:
                  - null
                  chairman_id2: null
                  cochairman_id:
                  - null
                  speaker_id1:
                  - null
                  speaker_id2: null
                  speaker_id3: null
                  detail_schedule: null
                  theory_file: null
                  link_vc: null
                  id_vc: null
                  password_vc: null
                  is_status: 1
                  created_at: 2023-03-31 10:58:43
                  updated_at: 2023-05-16 13:50:38
                  deleted_at: null
                  chairman: []
                  speaker: []
                  cochairman: []
              - id: 13
                series_type_id: '3'
                series_title: Bring Your ECG Qualification 1
                series_date: 2023-07-15
                series_number: null
                room_name: '4'
                start_time: null
                end_time: null
                course_director: []
                speaker: null
                detail_schedule: null
                link_vc: null
                id_vc: null
                password_vc: null
                exibitor_id: null
                sponsor_image: null
                video_recorder: null
                is_status: 1
                certificate_image: null
                certificate_speaker: null
                certificate_moderator: null
                certificate_committee: null
                panelist:
                - '24'
                - '41'
                - '42'
                created_at: 2023-03-15 20:27:19
                updated_at: 2023-05-16 13:47:02
                deleted_at: null
                hari: Saturday
                min_time: 10:00
                max_time: 11:30
                series_detail:
                - id: 47
                  series_id: '13'
                  series_date: 2023-06-30
                  topic: Panelist
                  start_time: 10:00:00
                  end_time: 11:30:00
                  chairman_id1:
                  - null
                  chairman_id2: null
                  cochairman_id:
                  - null
                  speaker_id1:
                  - null
                  speaker_id2: null
                  speaker_id3: null
                  detail_schedule: null
                  theory_file: null
                  link_vc: null
                  id_vc: null
                  password_vc: null
                  is_status: 1
                  created_at: 2023-03-31 10:43:19
                  updated_at: 2023-05-16 13:47:38
                  deleted_at: null
                  chairman: []
                  speaker: []
                  cochairman: []
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '57'
            content-length:
              type: string
              default: '579'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:40:07 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /my-profile:
    get:
      summary: Detail Profile
      tags:
      - Profile
      operationId: DetailProfile
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil9'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil.
              data:
              - id: 14
                xendit_id: 64267ea066ea72c888c02d6a
                midtrans_id: null
                category_id: 8
                package_id: 10
                workshop_id: []
                register_number: REG202303310014
                ticket_number: null
                title: Prof
                full_name: Daffa Pratama
                first_name: null
                last_name: null
                certificate_name: Daffa
                email: daffa@totalit.co.id
                phone_number: '34534534'
                gender: null
                place_of_birth: null
                date_of_birth: 1970-01-01
                country: null
                province: null
                city: null
                institution: sdsdxvvxc
                office_phone_number: null
                sponsor_id: null
                sponsor: null
                sales: null
                profession_name: null
                category: Overseas
                package: Foreign Participant
                symposium: Symposium
                workshop: ''
                workshop_certificate: null
                symposium_old: null
                workshop_old: null
                package_price: 3020000
                additional_price: 0
                total_old_price: 0
                upgrade_price: 0
                upgrade_type: null
                payment_method: Credit Card
                payment_receipt: null
                payment_receipt_type: null
                payment_receipt_gl: null
                promo_code: null
                discount: null
                discount_type: null
                discount_price: 0
                service_charge: 250041
                total_price: 8270041
                approval_status: Approve
                payment_status: Paid
                payment_date: 2023-05-12 13:50:22
                approval_date: 2023-05-12 13:50:25
                session_id: null
                session_at: null
                created_at: 2023-03-31 13:33:04
                updated_at: 2023-05-19 14:55:42
                deleted_at: null
                group_id: null
                invoice_url: https://checkout-staging.xendit.co/web/64267ea066ea72c888c02d6a
                invoice_expired: 2023-04-02 06:33:04
                gl_expired: null
                api_token: 6d3a17cbe5fa39695385b05045f667723381b92df9f289607b079172bc6931f6
                token_lifetime: 2023-05-26 14:55:42
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '809'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:42:00 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Unauthenticated1'
          examples:
            application/json:
              message: Unauthenticated.
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            content-length:
              type: string
              default: '35'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:40:43 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /program-glance:
    get:
      summary: Programme At Glance
      tags:
      - Misc
      operationId: ProgrammeAtGlance
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil10'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil.
              data:
                programs:
                - title: Case Series
                  subtitle: 14 & 21 July 2023
                - title: Webinar Series for Allied Professional
                  subtitle: 10 June 2023 & 8 July 2023
                - title: Workshop
                  subtitle: 17 & 18 August 2023
                - title: ECG Championship
                  subtitle: 'Qualification Online : 17, 24, June 2023 & 15, 22 July 2023 | Final (Offline) : 18 August 2023'
                - title: Symposium
                  subtitle: 18 & 19 August 2023
                - title: Bring Your ECG
                  subtitle: 17, 24 June 2023 & 15, 22 July 2023
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '287'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:42:31 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
  /get-barcode:
    get:
      summary: Get Barcode
      tags:
      - Misc
      operationId: GetBarcode
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: false
        default: Bearer {token}
        type: string
      - name: register_number
        in: query
        required: true
        type: string
        description: ''
      - name: Accept
        in: header
        required: true
        type: string
        description: ''
      responses:
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/Unauthenticated1'
          examples:
            application/json:
              message: Unauthenticated.
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            content-length:
              type: string
              default: '35'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:43:57 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Berhasil11'
          examples:
            application/json:
              success: true
              error: null
              message: Berhasil.
              data: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0AQMAAADxGE3JAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAAAlwSFlzAAAOxAAADsQBlSsOGwAAAedJREFUeJzt201uwyAQhmFu4Ctz5CzZuRLBnh8GHLVSoer7LawaeBhWI9Io6fQpKdVHSkcw4fLqh/B4PP5P+ygjX2td0aWvv7KflVc8Ho9f7OPW2U90YyOfgrV4PB7/T7zeZLgnHo/H7+brrdFcAvO3fFN4PB7/l3yXMvaSSa+NujMej8ev9MM2F3mXZx9th8fj8Zv7aKLzUWRttp+kPwwej8f/hpdlUetz3m1y989uxXH7dL/i8Xj85t5FxtxsefsuprTuxAmPx+O38vKW/AqTHH4nEvhiqx76Id25veLxePwO/hxFe5dX0pfLaK0r6Irh8Xj8Ot8NnXbtPHH/7Qqak+iKeDwev9yfHXjyNZ0Xld8HkjE8Ho/f2k9irojW53EZUeaKeh8Rj8fjl3qX/KF/9z/TF+Uk7SFN2ETdP/F4PH4L7zaJb43Fe6mg/VVm6O0KPB6PX+/d2tjXPP3+Q/sSzOLxePw6f/qUidcTE9/KzHxOdhkej8dv4o9ueNz/roJtO1fQUFmCx+Pxe3i3TL9GefZyJvlPovP1gcfj8bv6OvwjH50Ej8fjt/bnnXz7LrFvpZ2/xnQ7xePx+L181P9kLPBJVXBN+LBextoEHo/Hr/MurvWJN7OtCY6+P5776xB4PB6/0H8Bb22rS2ejg50AAAAASUVORK5CYII=
          headers:
            Connection:
              type: string
              default: Keep-Alive
            Keep-Alive:
              type: string
              default: timeout=5, max=100
            x-powered-by:
              type: string
              default: Niagahoster
            cache-control:
              type: string
              default: no-cache, private
            content-type:
              type: string
              default: application/json
            x-ratelimit-limit:
              type: string
              default: '60'
            x-ratelimit-remaining:
              type: string
              default: '59'
            content-length:
              type: string
              default: '715'
            content-encoding:
              type: string
              default: br
            vary:
              type: string
              default: Accept-Encoding,User-Agent
            date:
              type: string
              default: Fri, 19 May 2023 08:45:13 GMT
            server:
              type: string
              default: LiteSpeed
            strict-transport-security:
              type: string
              default: max-age=31536000; includeSubDomains; preload
            x-xss-protection:
              type: string
              default: 1; mode=block
            x-content-type-options:
              type: string
              default: nosniff
            alt-svc:
              type: string
              default: h3=":443"; ma=2592000, h3-29=":443"; ma=2592000, h3-Q050=":443"; ma=2592000, h3-Q046=":443"; ma=2592000, h3-Q043=":443"; ma=2592000, quic=":443"; ma=2592000; v="43,46"
definitions:
  LoginBerhasil:
    title: LoginBerhasil
    example:
      success: true
      error: null
      message: Login Berhasil.
      data:
        nama_lengkap: Daffa Pratama
        email: daffa@totalit.co.id
        api_token: Al2A020PJWzB2cpfozoLzz6C9GYKeQrfduwFaVmn05PfIYQS3yDjC3LID1w8myXAQKPZzzrjsHPrZQEY
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data'
    required:
    - success
    - error
    - message
    - data
  Data:
    title: Data
    example:
      nama_lengkap: Daffa Pratama
      email: daffa@totalit.co.id
      api_token: Al2A020PJWzB2cpfozoLzz6C9GYKeQrfduwFaVmn05PfIYQS3yDjC3LID1w8myXAQKPZzzrjsHPrZQEY
    type: object
    properties:
      nama_lengkap:
        type: string
      email:
        type: string
      api_token:
        type: string
    required:
    - nama_lengkap
    - email
    - api_token
  EmailatauPasswordtidaksesuai:
    title: EmailatauPasswordtidaksesuai
    example:
      success: false
      error: UserNotFoundException
      message: Email atau Password tidak sesuai.
      data: null
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: string
    required:
    - success
    - error
    - message
    - data
  Sedanglogindiperangkatyangberbeda:
    title: Sedanglogindiperangkatyangberbeda
    example:
      success: false
      error: AlreadyLoggedInException
      message: Anda sedang login di perangkat yang berbeda.
      data: null
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: string
    required:
    - success
    - error
    - message
    - data
  LogoutBerhasil:
    title: LogoutBerhasil
    example:
      success: true
      error: null
      message: Logout Berhasil.
      data: null
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: string
    required:
    - success
    - error
    - message
    - data
  Unauthenticated1:
    title: Unauthenticated1
    example:
      message: Unauthenticated.
    type: object
    properties:
      message:
        type: string
    required:
    - message
  ResetPasswordBerhasil:
    title: ResetPasswordBerhasil
    example:
      success: true
      error: null
      message: Reset Password Berhasil.
      data: null
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: string
    required:
    - success
    - error
    - message
    - data
  Datatidakditemukan:
    title: Datatidakditemukan
    example:
      success: false
      error: UserNotFoundException
      message: Data tidak ditemukan
      data: null
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: string
    required:
    - success
    - error
    - message
    - data
  Tokenalive:
    title: Tokenalive
    example:
      success: true
      error: null
      message: Token alive
      data:
        nama_lengkap: Daffa Pratama
        email: daffa@totalit.co.id
        api_token: 6d3a17cbe5fa39695385b05045f667723381b92df9f289607b079172bc6931f6
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data'
    required:
    - success
    - error
    - message
    - data
  Berhasil:
    title: Berhasil
    example:
      success: true
      error: null
      message: Berhasil.
      data:
        category:
        - id: 8
          category_name: Overseas
          is_publish: true
          created_at: 2023-03-30 11:50:03
          updated_at: 2023-03-31 11:07:24
          deleted_at: null
        - id: 7
          category_name: Cardiologist
          is_publish: true
          created_at: 2023-03-17 15:04:12
          updated_at: 2023-03-17 15:04:12
          deleted_at: null
        - id: 1
          category_name: Other Specialist
          is_publish: true
          created_at: 2022-06-15 11:48:37
          updated_at: 2023-03-17 15:03:57
          deleted_at: null
        - id: 2
          category_name: General Practitioner
          is_publish: true
          created_at: 2022-06-15 11:48:56
          updated_at: 2023-03-13 11:34:05
          deleted_at: null
        - id: 5
          category_name: Resident
          is_publish: true
          created_at: 2023-03-13 11:34:17
          updated_at: 2023-03-13 11:34:17
          deleted_at: null
        - id: 6
          category_name: Medical Student
          is_publish: true
          created_at: 2023-03-13 11:34:44
          updated_at: 2023-03-13 11:34:44
          deleted_at: null
        - id: 3
          category_name: Allied Professional
          is_publish: true
          created_at: 2022-06-15 11:49:08
          updated_at: 2023-03-13 11:34:32
          deleted_at: null
        hotel_room:
        - id: 1
          hotel_id: '1'
          room_name: Westin Room
          description: Westin Room
          room_rate: 2500000
          room_rate_usd: 170
          qty: 5
          startdate_stock: 2023-08-17 00:00:00
          enddate_stock: 2023-08-20 00:00:00
          image: null
          created_at: 2023-03-17 10:53:55
          updated_at: 2023-04-03 11:47:59
          deleted_at: null
          title: The Westin Hotel Jakarta
        - id: 2
          hotel_id: '1'
          room_name: Premium Room
          description: Premium Room
          room_rate: 3500000
          room_rate_usd: 240
          qty: 11
          startdate_stock: 2023-08-17 00:00:00
          enddate_stock: 2023-08-20 00:00:00
          image: null
          created_at: 2023-04-03 11:51:55
          updated_at: 2023-04-03 11:51:55
          deleted_at: null
          title: The Westin Hotel Jakarta
        - id: 3
          hotel_id: '1'
          room_name: Renewal Room
          description: Renewal Room
          room_rate: 4000000
          room_rate_usd: 272
          qty: 11
          startdate_stock: 2023-08-17 00:00:00
          enddate_stock: 2023-08-20 00:00:00
          image: null
          created_at: 2023-04-03 11:53:29
          updated_at: 2023-04-03 11:53:29
          deleted_at: null
          title: The Westin Hotel Jakarta
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data2'
    required:
    - success
    - error
    - message
    - data
  Data2:
    title: Data2
    example:
      category:
      - id: 8
        category_name: Overseas
        is_publish: true
        created_at: 2023-03-30 11:50:03
        updated_at: 2023-03-31 11:07:24
        deleted_at: null
      - id: 7
        category_name: Cardiologist
        is_publish: true
        created_at: 2023-03-17 15:04:12
        updated_at: 2023-03-17 15:04:12
        deleted_at: null
      - id: 1
        category_name: Other Specialist
        is_publish: true
        created_at: 2022-06-15 11:48:37
        updated_at: 2023-03-17 15:03:57
        deleted_at: null
      - id: 2
        category_name: General Practitioner
        is_publish: true
        created_at: 2022-06-15 11:48:56
        updated_at: 2023-03-13 11:34:05
        deleted_at: null
      - id: 5
        category_name: Resident
        is_publish: true
        created_at: 2023-03-13 11:34:17
        updated_at: 2023-03-13 11:34:17
        deleted_at: null
      - id: 6
        category_name: Medical Student
        is_publish: true
        created_at: 2023-03-13 11:34:44
        updated_at: 2023-03-13 11:34:44
        deleted_at: null
      - id: 3
        category_name: Allied Professional
        is_publish: true
        created_at: 2022-06-15 11:49:08
        updated_at: 2023-03-13 11:34:32
        deleted_at: null
      hotel_room:
      - id: 1
        hotel_id: '1'
        room_name: Westin Room
        description: Westin Room
        room_rate: 2500000
        room_rate_usd: 170
        qty: 5
        startdate_stock: 2023-08-17 00:00:00
        enddate_stock: 2023-08-20 00:00:00
        image: null
        created_at: 2023-03-17 10:53:55
        updated_at: 2023-04-03 11:47:59
        deleted_at: null
        title: The Westin Hotel Jakarta
      - id: 2
        hotel_id: '1'
        room_name: Premium Room
        description: Premium Room
        room_rate: 3500000
        room_rate_usd: 240
        qty: 11
        startdate_stock: 2023-08-17 00:00:00
        enddate_stock: 2023-08-20 00:00:00
        image: null
        created_at: 2023-04-03 11:51:55
        updated_at: 2023-04-03 11:51:55
        deleted_at: null
        title: The Westin Hotel Jakarta
      - id: 3
        hotel_id: '1'
        room_name: Renewal Room
        description: Renewal Room
        room_rate: 4000000
        room_rate_usd: 272
        qty: 11
        startdate_stock: 2023-08-17 00:00:00
        enddate_stock: 2023-08-20 00:00:00
        image: null
        created_at: 2023-04-03 11:53:29
        updated_at: 2023-04-03 11:53:29
        deleted_at: null
        title: The Westin Hotel Jakarta
    type: object
    properties:
      category:
        type: array
        items:
          $ref: '#/definitions/Category'
      hotel_room:
        type: array
        items:
          $ref: '#/definitions/HotelRoom'
    required:
    - category
    - hotel_room
  Category:
    title: Category
    example:
      id: 8
      category_name: Overseas
      is_publish: true
      created_at: 2023-03-30 11:50:03
      updated_at: 2023-03-31 11:07:24
      deleted_at: null
    type: object
    properties:
      id:
        type: integer
        format: int32
      category_name:
        type: string
      is_publish:
        type: boolean
      created_at:
        type: string
      updated_at:
        type: string
      deleted_at:
        type: string
    required:
    - id
    - category_name
    - is_publish
    - created_at
    - updated_at
    - deleted_at
  HotelRoom:
    title: HotelRoom
    example:
      id: 1
      hotel_id: '1'
      room_name: Westin Room
      description: Westin Room
      room_rate: 2500000
      room_rate_usd: 170
      qty: 5
      startdate_stock: 2023-08-17 00:00:00
      enddate_stock: 2023-08-20 00:00:00
      image: null
      created_at: 2023-03-17 10:53:55
      updated_at: 2023-04-03 11:47:59
      deleted_at: null
      title: The Westin Hotel Jakarta
    type: object
    properties:
      id:
        type: integer
        format: int32
      hotel_id:
        type: string
      room_name:
        type: string
      description:
        type: string
      room_rate:
        type: integer
        format: int32
      room_rate_usd:
        type: integer
        format: int32
      qty:
        type: integer
        format: int32
      startdate_stock:
        type: string
      enddate_stock:
        type: string
      image:
        type: string
      created_at:
        type: string
      updated_at:
        type: string
      deleted_at:
        type: string
      title:
        type: string
    required:
    - id
    - hotel_id
    - room_name
    - description
    - room_rate
    - room_rate_usd
    - qty
    - startdate_stock
    - enddate_stock
    - image
    - created_at
    - updated_at
    - deleted_at
    - title
  Berhasil1:
    title: Berhasil1
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: array
        items:
          $ref: '#/definitions/Data3'
    required:
    - success
    - error
    - message
    - data
  Data3:
    title: Data3
    type: object
    properties:
      id:
        type: integer
        format: int32
      package_name:
        type: string
      package_description:
        type: string
      currency:
        type: string
      price:
        type: integer
        format: int32
      is_symposium:
        type: integer
        format: int32
      many_workshop: {}
      max_additional_workshop: {}
      is_all_workshop: {}
      description:
        type: string
      price_usd:
        type: integer
        format: int32
      add_workshop_price:
        type: integer
        format: int32
      workshop:
        $ref: '#/definitions/Workshop'
      additional_workshop:
        $ref: '#/definitions/AdditionalWorkshop'
    required:
    - id
    - package_name
    - package_description
    - currency
    - price
    - is_symposium
    - many_workshop
    - max_additional_workshop
    - is_all_workshop
    - description
    - price_usd
    - add_workshop_price
    - workshop
    - additional_workshop
  Workshop:
    title: Workshop
    type: object
    properties:
      2023-08-17:
        type: array
        items:
          $ref: '#/definitions/m20230817'
      2023-08-18:
        type: array
        items:
          $ref: '#/definitions/m20230817'
  m20230817:
    title: m20230817
    example:
      id: 3
      workshop_title: Workshop for Allied Professional
      workshop_date: 2023-08-17
      start_time: 13:00
      end_time: 16:00
    type: object
    properties:
      id:
        type: integer
        format: int32
      workshop_title:
        type: string
      workshop_date:
        type: string
      start_time:
        type: string
      end_time:
        type: string
    required:
    - id
    - workshop_title
    - workshop_date
    - start_time
    - end_time
  Workshop1:
    title: Workshop1
    example:
      2023-08-17:
      - id: 3
        workshop_title: Workshop for Allied Professional
        workshop_date: 2023-08-17
        start_time: 13:00
        end_time: 16:00
      - id: 9
        workshop_title: Workshop on Case-Based Advanced ECG
        workshop_date: 2023-08-17
        start_time: 13:00
        end_time: 16:00
      - id: 10
        workshop_title: Workshop on Cased-Based Holter Monitoring
        workshop_date: 2023-08-17
        start_time: 13:00
        end_time: 16:00
      - id: 13
        workshop_title: Workshop on Management of Malignant Arrhythmia in ED
        workshop_date: 2023-08-17
        start_time: 13:00
        end_time: 16:00
      2023-08-18:
      - id: 11
        workshop_title: Workshop on Anticoagulation in AF with Comorbidities
        workshop_date: 2023-08-18
        start_time: 08:00
        end_time: 11:00
      - id: 12
        workshop_title: Workshop on Fit to Work Recommendations for Patients with Arrhythmia
        workshop_date: 2023-08-18
        start_time: 08:00
        end_time: 11:00
    type: object
    properties:
      2023-08-17:
        type: array
        items:
          $ref: '#/definitions/m20230817'
      2023-08-18:
        type: array
        items:
          $ref: '#/definitions/m20230817'
    required:
    - 2023-08-17
    - 2023-08-18
  AdditionalWorkshop:
    title: AdditionalWorkshop
    type: object
    properties:
      2023-08-17:
        type: array
        items:
          $ref: '#/definitions/m20230817'
      2023-08-18:
        type: array
        items:
          $ref: '#/definitions/m20230817'
  AdditionalWorkshop1:
    title: AdditionalWorkshop1
    example:
      2023-08-17:
      - id: 3
        workshop_title: Workshop for Allied Professional
        workshop_date: 2023-08-17
        start_time: 13:00
        end_time: 16:00
      - id: 9
        workshop_title: Workshop on Case-Based Advanced ECG
        workshop_date: 2023-08-17
        start_time: 13:00
        end_time: 16:00
      - id: 10
        workshop_title: Workshop on Cased-Based Holter Monitoring
        workshop_date: 2023-08-17
        start_time: 13:00
        end_time: 16:00
      - id: 13
        workshop_title: Workshop on Management of Malignant Arrhythmia in ED
        workshop_date: 2023-08-17
        start_time: 13:00
        end_time: 16:00
      2023-08-18:
      - id: 11
        workshop_title: Workshop on Anticoagulation in AF with Comorbidities
        workshop_date: 2023-08-18
        start_time: 08:00
        end_time: 11:00
      - id: 12
        workshop_title: Workshop on Fit to Work Recommendations for Patients with Arrhythmia
        workshop_date: 2023-08-18
        start_time: 08:00
        end_time: 11:00
    type: object
    properties:
      2023-08-17:
        type: array
        items:
          $ref: '#/definitions/m20230817'
      2023-08-18:
        type: array
        items:
          $ref: '#/definitions/m20230817'
    required:
    - 2023-08-17
    - 2023-08-18
  Emailavailable:
    title: Emailavailable
    example:
      success: true
      error: null
      message: Email available.
      data: null
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: string
    required:
    - success
    - error
    - message
    - data
  Emailisalreadyinuse:
    title: Emailisalreadyinuse
    example:
      success: false
      error: NoResultsFound
      message: Email is already in use.
      data: null
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        type: string
    required:
    - success
    - error
    - message
    - data
  Berhasil2:
    title: Berhasil2
    example:
      success: true
      error: null
      message: Berhasil.
      data:
        id: 2
        hotel_id: '1'
        room_name: Premium Room
        description: Premium Room
        room_rate: 3500000
        room_rate_usd: 240
        qty: 11
        startdate_stock: 2023-08-17
        enddate_stock: 2023-08-20
        stocks:
        - id: 5
          room_id: '2'
          stock_date: 2023-08-17
          stock_qty: '11'
        - id: 6
          room_id: '2'
          stock_date: 2023-08-18
          stock_qty: '10'
        - id: 7
          room_id: '2'
          stock_date: 2023-08-19
          stock_qty: '9'
        - id: 8
          room_id: '2'
          stock_date: 2023-08-20
          stock_qty: '10'
    type: object
    properties:
      success:
        type: boolean
      error:
        type: string
      message:
        type: string
      data:
        $ref: '#/definitions/Data4'
    required:
    - success
    - error
    - message
    - data
  Data4:
    title: Data4
    example:
      id: 2
      hotel_id: '1'
      room_name: Premium Room
      description: Premium Room
      room_rate: 3500000
      room_rate_usd: 240
      qty: 11
      startdate_stock: 2023-08-17
      enddate_stock: 2023-08-20
      stocks:
      - id: 5
        room_id: '2'
        stock_date: 2023-08-17
        stock_qty: '11'
      - id: 6
        room_id: '2'
        stock_date: 2023-08-18
        stock_qty: '10'
      - id: 7
        room_id: '2'
        stock_date: 2023-08-19
        stock_qty: '9'
      - id: 8
        room_id: '2'
        stock_date: 2023-08-20
        stock_qty: '10'
    type: object
    properties:
      id:
        type: integer
        format: int32
      hotel_id:
        type: string
      room_name:
        type: string
      description:
        type: string
      room_rate:
        type: integer
        format: int32
      room_rate_usd:
        type: integer
        format: int32
      qty:
        type: integer
        format: int32
      startdate_stock:
        type: string
      enddate_stock:
        type: string
      stocks:
        type: array
        items:
          $ref: '#/definitions/Stock'
    required:
    - id
    - hotel_id
    - room_name
    - description
    - room_rate
    - room_rate_usd
    - qty
    - startdate_stock
    - enddate_stock
    - stocks
  Stock:
    title: Stock
    example:
      id: 5
      room_id: '2'
      stock_date: 2023-08-17
      stock_qty: '11'
    type: object
    properties:
      id:
        type: integer
        format: int32
      room_id:
        type: string
      stock_date:
        type: string
      stock_qty:
        type: string
    required:
    - id
    - room_id
    - stock_date
    - stock_qty
  Promocodeiscorrect:
    title: Promocodeiscorrect
    example:
      success: true
      error: null
      message: Promo code is correct, you get a 50% discount
      data:
        id: 1
        package_id: 9
        category_id: 1
        promo_code: DISCOUNT50TOTALIT
        promo_type: Percent
        promo: '50'
        qty: 10
        start_date: 2023-05-01 00:00:00
        end_date: 2023-05-30 00:00:00
        created_at: 2023-05-16 16:57:29
        updated_at: 2023-05-16 16:57:29
        deleted_at: null
    type: object
    properties:
      success:
        type: boolean
[...]
